<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.surajtiwari.reactnativepayumoney">
    <application
        android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>
